[flake8]
max-line-length = 132
ignore =
    # space before : (needed for how black formats slicing)
    E203,
    # too many leading '#' for block comment 
    E266,
    # line lengths too long
    E501,
    # line break before binary operator
    W503,
    # line break after binary operator
    W504,
    # module level import not at top of file
    E402,
    # do not assign a lambda expression, use a def
    E731,
