body {
  font-family: 'Lucida Grande', Arial, sans-serif;
  font-size: 15px;
}

div.sphinxsidebar {
  width: 20%;
  background-color: lightgrey;
}

div.sphinxsidebarwrapper {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

div.bodywrapper {
  margin: 0 0 0 20%;
}

div.document {
  width: 100%;
  margin: 0px auto 0 auto;
}

div.documentwrapper {
  margin-top: 15px;
}
